body{
background-image:url("https://www.ygfconcierge.com/wp-content/uploads/2016/02/home-page-background-2.jpg");
}
#p1{
color:white;
background-size:cover;
text-align:center;
}
#p1{
margin-right:30px;
margin-left:30px;
}
#p2,h1,h2{
color:white;
}
h1{
text-align:center;
}

